// Home

.paul-home
  background: $blue-1
  .left
    padding: 2rem
  .proj
    position: relative
    padding: 2rem
    // border-bottom: 2px $gray-1 solid
    &--a
      background: $pink-2
    &--b
      background: $blue-2
    &--c
      background: $pink-1
    &--d
      background: $blue-4
    &--e
      background: $pink-4
    &--f
      background: $blue-2
    &--g
      background: $pink-3
    &--v
      padding-bottom: 0
    img
      border-radius: 4px
    video
      position: absolute
      top: 28%
      left: 30%
      width: 40%
      height: auto
      clip-path: polygon(0 0, 100% 0, 100% 73%, 0 73%)

img
  display: block
  width: 100%
  height: auto
  &.p-hero
    margin-bottom: 2rem

// .phone-video-link
//   position: absolute
//   top: 2em
//   right: 0
//   left: 0
//   margin: 0 auto
//   width: 70%
//   clip-path: polygon(0 0, 100% 0, 100% 47.5%, 0 47.5%)
//   video
//     position: absolute
//     top: 12.1%
//     left: 6.5%
//     z-index: 700
//     width: 87%
//     height: auto
//
// .phone-video
//   position: relative
//   top: 2em
//   right: 0
//   left: 0
//   margin: 0 auto
//   width: 70%
//   video
//     position: absolute
//     top: 12.1%
//     left: 6.5%
//     z-index: 700
//     width: 87%
//     height: auto
