// Home

.paul-home
  background: $blue-1
  .left
    padding: 2rem
  .fixed
    position: initial
    width: initial
    @media screen and (min-width: 752px)
      display: block
      position: fixed
      width: 40vw
  .proj
    position: relative
    padding: 2rem
    &--a
      background: $pink-2
    &--b
      background: $blue-2
    &--c
      background: $pink-1
    &--d
      background: $blue-4
    &--e
      background: $pink-4
    &--f
      background: $blue-2
    &--g
      background: $pink-3
    &--v
      padding-bottom: 0
    img
      border-radius: 4px
    video
      position: absolute
      top: 30%
      left: 30%
      width: 40%
      height: auto

img
  display: block
  width: 100%
  height: auto
  &.p-hero
    margin-bottom: 2rem
