button.btn
  padding: 0.75rem 1rem
  font-size: 1rem
  display: block
  width: 100%
  transition: all 300ms
  box-shadow: 2px 2px 4px rgba($whale-4, 0.15)
  border: 2px solid transparent
  @media screen and (min-width: 752px)
    display: inline-block
    width: auto
  &:hover
    cursor: pointer
    box-shadow: 4px 4px 4px rgba($whale-4, 0.15)
  &.large
    font-size: 1.25rem
  &.small
    font-size: 0.75rem
  &.full
    width: 100%
  &.primary
    background: $btn-primary
    color: $white
    &:hover, &:active, &:focus
      background: darken($btn-primary, 10%)
      outline: none
    &.outlined
      background: transparent
      border: 2px solid $btn-primary
      color: $btn-primary
      &:hover
        background: $btn-primary
        color: $white
      &:hover
  &.secondary
    background: $btn-secondary
    color: $white
    &:hover, &:active, &:focus
      background: darken($btn-secondary, 10%)
      outline: none
    &.outlined
      background: transparent
      border: 2px solid $btn-secondary
      color: $btn-secondary
      &:hover
        background: $btn-secondary
        color: $white
  &.tertiary
    background: $btn-tertiary
    color: $white
    &:hover, &:active, &:focus
      background: darken($btn-tertiary, 10%)
      outline: none
    &.outlined
      background: transparent
      border: 2px solid $btn-tertiary
      color: $btn-tertiary
      &:hover
        background: $btn-tertiary
        color: $white
  &.warning
    background: $btn-warning
    color: $white
    &:hover, &:active, &:focus
      background: darken($btn-warning, 10%)
      outline: none
    &.outlined
      background: transparent
      border: 2px solid $btn-warning
      color: $btn-warning
      &:hover
        background: $btn-warning
        color: $white

  &.danger
    background: $btn-danger
    color: $white
    &:hover, &:active, &:focus
      background: darken($btn-danger, 10%)
      outline: none
    &.outlined
      background: transparent
      border: 2px solid $btn-danger
      color: $btn-danger
      &:hover
        background: $btn-danger
        color: $white

  &.fun
    background: $btn-fun
    color: $white
    &:hover, &:active, &:focus
      background: darken($btn-fun, 10%)
      outline: none
    &.outlined
      background: transparent
      border: 2px solid $btn-fun
      color: $btn-fun
      &:hover
        background: $btn-fun
        color: $white
  .icon
    float: right
    padding-top: 0.125rem
    margin-left: 0.5rem
