input[type="password"]
  display: block
  background: $gray-1
  line-height: 1rem
  font-size: 1rem
  border: 1px solid $gray-2
  padding: 0.5rem
  width: 100%
  margin-bottom: 1rem
  position: relative
  box-sizing: border-box
  &::placeholder
    font-size: 1rem
    color: $gray-4
    font-family: Georgia, serif
  &:active,
  &:focus
    background: #FFF
    color: $whale-4

input[type="submit"]
  display: block
  line-height: 1rem  
  border: 2px solid $pink-2
  padding: 0.5rem
  background: $pink-2
  color: #FFF
  width: 100%
  margin-bottom: 1rem
  display: block
  font-family: 'Zing', sans-serif
  font-size: 1.25rem
  &:hover
    border: 2px solid $pink-4
    background: $pink-4
    cursor: pointer
