.meow-table
  display: block
  &.x-scroll
    overflow-x: scroll
    .meow-tr
      min-width: 50rem
  &.single-row
    .meow-tr
      margin-bottom: -2px
      .meow-th,
      .meow-td,
        border-top: 2px solid $border-primary
        border-bottom: 2px solid $border-primary
        border-left: none
        border-right: none
        &:first-child
          border-left: 2px solid $border-primary
        &:last-child
          border-right: 2px solid $border-primary
  .meow-tr
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    background: $salt-1
    &:nth-child(even)
      background: $white
    .meow-th,
    .meow-td
      border: 1px solid $border-primary
      display: block
      width: 100%
      padding: 0.875rem
      box-sizing: border-box
    .meow-th
      background: $background-active
      font-weight: 700
      color: $white
      &:hover
        cursor: pointer
        color: $background-secondary
        .icon path
          fill: $background-secondary
      .icon
        display: inline-block
        vertical-align: text-bottom
        margin-left: 0.25rem
        min-height: 1.125rem
    .meow-td
      font-weight: 500
