.paginator
  display: flex
  align-items: center
  .icon
    &:hover
      cursor: pointer
      path
        transition: all 300ms
        fill: $primary-color
    &:first-child
      margin-right: 0.5rem
      padding-top: 0.25rem
    &:last-child
      margin-left: 0.5rem
      padding-top: 0.25rem
  .page
    font-family: 'Arvo'
    font-size: 0.875rem
    color: $text-color
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 0
    margin-right: 0.5rem
    width: 2.5rem
    height: 2.5rem
    background: lighten($neutral-1, 5%)
    border: 1px solid $neutral-1
    transition: all 300ms
    &:hover
      background: $neutral-1
      cursor: pointer
    &.active
      background: $active-color
      color: $white
      font-weight: 700
      border-color: $active-border-color
