@font-face
  font-family: Zing
  src: url('./ZingRustDemo-Base.otf') format('OpenType')


h1, h2, h3, h4, h5, h6, p, a, li, span, b
  color: $whale-2
  font-family: Georgia, serif
  line-height: 1.3
  color: $whale-4
  margin-top: 0
  margin-bottom: 1rem

p
  font-size: 1.25rem

.zing
  font-family: 'Zing', sans-serif

.whale-1
  color: $whale-1

.whale-2
  color: $whale-2

.whale-3
  color: $whale-3
