@font-face
  font-family: Akrobat
  src: url('./fonts/Akrobat-ExtraBold.ttf') format('TrueType')
  font-weight: 800
  font-style: normal

@font-face
  font-family: Akrobat
  src: url('./fonts/Akrobat-Bold.ttf') format('TrueType')
  font-weight: 700
  font-style: normal

@font-face
  font-family: Akrobat
  src: url('./fonts/Akrobat-SemiBold.ttf') format('TrueType')
  font-weight: 600
  font-style: normal

@font-face
  font-family: Akrobat
  src: url('./fonts/Akrobat-Regular.ttf') format('TrueType')
  font-weight: 400
  font-style: normal

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-Black.otf') format('OpenType')
  font-weight: 900
  font-style: normal

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-BlackItalic.otf') format('OpenType')
  font-weight: 900
  font-style: italic

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-ExtraBold.otf') format('OpenType')
  font-weight: 800
  font-style: normal

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-ExtraBoldItalic.otf') format('OpenType')
  font-weight: 800
  font-style: italic

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-Bold.otf') format('OpenType')
  font-weight: 700
  font-style: normal

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-BoldItalic.otf') format('OpenType')
  font-weight: 700
  font-style: italic

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-SemiBold.otf') format('OpenType')
  font-weight: 600
  font-style: normal

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-SemiBoldItalic.otf') format('OpenType')
  font-weight: 600
  font-style: italic

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-Medium.otf') format('OpenType')
  font-weight: 500
  font-style: normal

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-MediumItalic.otf') format('OpenType')
  font-weight: 500
  font-style: italic

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-Regular.otf') format('OpenType')
  font-weight: 400
  font-style: normal

@font-face
  font-family: Metropolis
  src: url('./fonts/Metropolis-RegularItalic.otf') format('OpenType')
  font-weight: 400
  font-style: italic

@font-face
  font-family: Arvo
  src: url('./fonts/Arvo-Bold.ttf') format('OpenType')
  font-weight: 700
  font-style: normal

@font-face
  font-family: Arvo
  src: url('./fonts/Arvo-BoldItalic.ttf') format('OpenType')
  font-weight: 700
  font-style: italic

@font-face
  font-family: Arvo
  src: url('./fonts/Arvo-Regular.ttf') format('OpenType')
  font-weight: 400
  font-style: normal

@font-face
  font-family: Arvo
  src: url('./fonts/Arvo-Italic.ttf') format('OpenType')
  font-weight: 400
  font-style: italic

@font-face
  font-family: Fira Mono
  src: url('./fonts/FiraMono-Regular.ttf') format('TrueType')
  font-weight: 400
  font-style: normal

@font-face
  font-family: Fira Mono
  src: url('./fonts/FiraMono-Medium.ttf') format('TrueType')
  font-weight: 500
  font-style: normal

@font-face
  font-family: Fira Mono
  src: url('./fonts/FiraMono-Bold.ttf') format('TrueType')
  font-weight: 700
  font-style: normal


@mixin font-default($size, $weight)
  font-family: 'Akrobat'
  font-size: $size
  font-weight: $weight
  line-height: 1.3
  color: $text-primary
  margin-top: 0
  margin-bottom: 1rem

@mixin font-table($size, $weight)
  font-family: 'Akrobat'
  font-size: $size
  font-weight: $weight
  line-height: 1.3
  color: $text-primary
  margin: 0

p, li, a
  @include font-default(1rem, 600)
  &.lg
    font-size: 1.25rem

p > a
  font-size: inherit

th, .meow-th
  @include font-table(1rem, 700)

td, .meow-td
  @include font-table(1rem, 600)

span
  @include font-default(inherit, inherit)

b
  font-weight: 700

a
  color: $link
  text-decoration: none
  transition: all 300ms
  background: transparent
  &.block
    display: block
  &:hover
    background: $link
    color: $white

h1
  @include font-default(3.75rem, 800)

h2
  @include font-default(3rem, 700)

h3
  @include font-default(2.5rem, 600)

h4
  @include font-default(2rem, 600)

h5
  @include font-default(1.5rem, 600)

h6
  @include font-default(1rem, 700)
  text-transform: uppercase

.text-light-1
  color: $text-light-1
.text-light-2
  color: $text-light-2

.type-serif
  font-family: 'Arvo', serif !important

button
  font-family: 'Akrobat'
  font-weight: 700
  text-transform: uppercase

label
  font-family: 'Akrobat'
  font-weight: 600
  font-size: 1.25rem
  text-transform: uppercase
  display: block
  margin-bottom: 0.5rem

table tbody tr
  th
    font-family: 'Metropolis', sans-serif !important
    font-weight: 700
  td
    font-family: 'Metropolis', sans-serif !important
    font-weight: 500

ul
  padding-left: 1rem

.zing
  font-family: 'Zing', sans-serif

.whale-1
  color: $whale-1

.whale-2
  color: $whale-2

.whale-3
  color: $whale-3

a
  &:hover
    cursor: pointer

a.lin-grad
  transition: all 300ms ease
  background: linear-gradient(to right, $blue-1 50%, $purple-2 50%)
  background-size: 200% 100%
  background-position: left bottom
  &:hover
    background-position: right bottom

.text-left
  text-align: left
