@font-face
  font-family: Zing
  src: url('./ZingRustDemo-Base.otf') format('OpenType')


h1, h2, h3, h4, h5, h6, p, a, li, span, b, label
  color: $whale-2
  font-family: Georgia, serif
  line-height: 1.3
  color: $whale-4
  margin-top: 0
  margin-bottom: 1rem
  &.super
    font-size: 3rem

label
  font-family: 'Zing'
  font-size: 1.25rem
  display: block
  margin-bottom: 0.5rem

ul
  padding-left: 1rem

p, li
  font-size: 1.25rem
  &.large
    font-size: 1.5rem
  &.bold
    font-weight: 700
  &.italic
    font-style: italic
  &.emphasize
    &,*
      color: $pink-4
      font-weight: 700

.zing
  font-family: 'Zing', sans-serif

.whale-1
  color: $whale-1

.whale-2
  color: $whale-2

.whale-3
  color: $whale-3

a
  &:hover
    cursor: pointer

a.lin-grad
  transition: all 300ms ease
  background: linear-gradient(to right, $blue-1 50%, $pink-2 50%)
  background-size: 200% 100%
  background-position: left bottom
  &:hover
    background-position: right bottom

.text-left
  text-align: left
