$blue-1: #52CBFE
$blue-2: #0AACFA
$blue-3: #0190DC
$blue-4: #0178BD

$pink-1: #FA4CB5
$pink-2: #E72192
$pink-3: #CE0673
$pink-4: #B30560

$gray-1: #D9DFE6
$gray-2: #C2C9D1
$gray-3: #A1A8B2
$gray-4: #808893

$whale-1: #2D5975
$whale-2: #1D415F
$whale-3: #102F4F
$whale-4: #062244
