$eggplant-1: #A4198B
$eggplant-2: #8F0173
$eggplant-3: #800065
$eggplant-4: #700057

$razz-1: #FF4F93
$razz-2: #FF1D6D
$razz-3: #E7004D
$razz-4: #C9003E

$gigas-1: #7D7DD5
$gigas-2: #5757B4
$gigas-3: #3F3F98
$gigas-4: #2E2E84

$lily-1: #E8F9FF
$lily-2: #CFE7EF
$lily-3: #B7D5E0
$lily-4: #97BCCC

$wood-1: #80737F
$wood-2: #6B5F6A
$wood-3: #5C505B
$wood-4: #4C424B

$salt-1: #FFFEF4
$salt-2: #F0EED8
$salt-3: #CDCBAF
$salt-4: #ACA886

$pomegranate-1: #FC6C3A
$pomegranate-2: #F14A17
$pomegranate-3: #D53103
$pomegranate-4: #B72703

$currant-1: #52465C
$currant-2: #403549
$currant-3: #33293B
$currant-4: #2A2132

$white: #FFF

// Typography
$text-primary: $currant-4
$text-secondary: $wood-4
$text-light-1: $currant-2
$text-light-2: $wood-2
$link: $eggplant-3

// Backgrounds & Boxes
$background-primary: $salt-1
$background-secondary: $lily-1
$background-active: $gigas-3
$border-active: $gigas-4
$border-primary: $salt-3
$border-light-1: $lily-2
$border-light-2: $lily-3


// Icons
$icon-light: $white
$icon-dark: $currant-4
$icon-pop-1: $razz-3
$icon-pop-2: $gigas-3
$icon-danger: $pomegranate-3

// Modals
$modal-background: rgba($gigas-4, 0.6)

// Buttons
$btn-primary: $gigas-3
$btn-secondary: $wood-3
$btn-tertiary: $lily-4
$btn-warning: $pomegranate-3
$btn-danger: $razz-4
$btn-fun: $razz-2

// Statuses
$status-success: $gigas-3
$status-warning: $pomegranate-3
$status-danger: $razz-4
$status-neutral: $lily-4
$status-fun: $razz-2

// Tables
$table-header: $salt-2
$odd-rows: $white
$even-rows: $salt-1
$table-border: $salt-2

// Other
$divider: $razz-2

$blue-1: #61CAFC
$blue-2: #2BAAEE
$blue-3: #0587D5
$blue-4: #0470B6

$purple-1: #832879
$purple-2: #6E1C5F
$purple-3: #5A1047
$purple-4: #45022F

$red-1: #FE538D
$red-2: #F92567
$red-3: #E20243
$red-4: #C40136

$gray-1: #D9DFE6
$gray-2: #C2C9D1
$gray-3: #A1A8B2
$gray-4: #808893

$whale-1: #2D5975
$whale-2: #1D415F
$whale-3: #102F4F
$whale-4: #062244

$orange-1: #FB7F41
$orange-2: #E95D1E
$orange-3: #CD4006
$orange-4: #AF3204

$primary-color: $blue-3
$secondary-color: $purple-3
$tertiary-color: $red-3
$neutral-color: $gray-3
$dark-color: $whale-3

$active-color: $blue-3
$active-border-color: $blue-4

$type-1: $currant-1
$type-2: $currant-2
$type-3: $currant-3
$type-4: $currant-4

$text-color: $whale-4
$text-color-light: $whale-2
$text-color-white: $white

$success-1: $blue-1
$success-2: $blue-2
$success-3: $blue-3
$success-4: $blue-4

$warning-1: $orange-1
$warning-2: $orange-2
$warning-3: $orange-3
$warning-4: $orange-4

$error-1: $red-1
$error-2: $red-2
$error-3: $red-3
$error-4: $red-4

$neutral-1: $salt-1
$neutral-2: $salt-2
$neutral-3: $salt-3
$neutral-4: $salt-4
